<div class='container, text-center'>
<h1>About page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Sed pharetra ipsum ac urna Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, inventore, nisi, mollitia eligendi odio voluptatum animi non perspiciatis sequi repudiandae rerum et blanditiis quisquam optio iure fugit eius minima incidunt.</p>
</div>